<h1>Recipes#new</h1>
<%= form_for @recipe do |f|%>

<% if @recipe.errors.any? %>
<div class="error_explanation">
  <h2><%= pluralize(@recipe.errors.count, "error") %> prevented this record from being saved:</h2>
  <ul>
  <% @recipe.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= f.label "Title:" %>
<%= f.text_field :name %>
<p><%= f.label "Content:" %></p>
<%= f.text_area :content %><br>
<%= f.hidden_field :user_id, value: @user.id %>

<%= render :partial => 'form', :locals => {:f => f, recipe: @recipe} %>
<div id="name"></div>
<div id="quantity"></div>
<div id="unit"></div>

<p><%= f.submit %></p>
<%end%>

<button class="js-more" data-id="0">Add Item</button>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-more").on("click", function() {
      var id = $(this).data("id") + 1;
      var itemLabel = "<label>" + "Label Here" + "</label>"
      var inputName = document.createElement("input");
      inputName.name = "recipe[ingredients_attributes][1][item_attributes][name]"
      inputName.type = "text";
      inputName.id = "recipe_ingredients_attributes_1_item_attributes_name"

      var inputQuantity = document.createElement("input");
      inputQuantity.name = "recipe[ingredients_attributes][1][quantity]";
      inputQuantity.type = "text";
      inputQuantity.id = "recipe_ingredients_attributes_1_quantity";

      var inputUnit = document.createElement("input");
      inputUnit.name = "recipe[ingredients_attributes][1][unit]";
      inputUnit.type = "text";
      inputUnit.id = "recipe_ingredients_attributes_1_unit";

      $("#name").html("Item Name: ");
      $("#name").append(inputName);
      $("#quantity").html("Quantity: ");
      $("#quantity").append(inputQuantity);
      $("#unit").html("Unit: ");
      $("#unit").append(inputUnit);
    });
  });
</script>
