<h1>Recipes#new</h1>
<%= form_for @recipe do |f|%>
<%= f.label "Name:" %>
<%= f.text_field :name %><br>
Select item(s): <%= f.collection_check_boxes :item_ids, Item.all, :id, :name %><br>

<%= f.fields_for :items, @recipe.items.build do |items_fields| %>
 <%= items_fields.label "Or create an item:" %>
  <%= items_fields.text_field :name %><br>
<% end %>

<%= f.submit %><br>
<%end%>
