<h1>Recipes#new</h1>
<%= form_for @recipe do |f|%>
<%= f.label "Name:" %>
<%= f.text_field :name %><br>
<%= f.hidden_field :user_id, value: @user.id %>

<%= f.fields_for :ingredients do |ingredients_form| %>
<%= ingredients_form.label "Quantity:" %>
<%= ingredients_form.text_field :quantity %><br>

<%= ingredients_form.fields_for :item do |item_form| %>
 <%= item_form.label "Or create an item:" %>
  <%= item_form.text_field :name %><br>
<% end %>
<%end%>

<%= f.submit %><br>
<%end%>
