<h1>Recipes#new</h1>
<%= form_for @recipe do |f|%>

<% if @recipe.errors.any? %>
<div class="error_explanation">
  <h2><%= pluralize(@recipe.errors.count, "error") %> prevented this record from being saved:</h2>
  <ul>
  <% @recipe.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= f.label "Title:" %>
<%= f.text_field :name %>
<p><%= f.label "Content:" %></p>
<%= f.text_area :content %><br>
<%= f.hidden_field :user_id, value: @user.id %>

<%= render :partial => 'form', :locals => {:f => f, recipe: @recipe} %>

<p><%= f.submit %></p>
<%end%>
