<h1>Recipes#new</h1>
<%= form_for @recipe do |f|%>

<% if @recipe.errors.any? %>
<div class="error_explanation">
  <h2><%= pluralize(@recipe.errors.count, "error") %> prevented this record from being saved:</h2>
  <ul>
  <% @recipe.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= f.label "Name:" %>
<%= f.text_field :name %><br>
<%= f.hidden_field :user_id, value: @user.id %>

<%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredients_form| %>
<%= ingredients_form.label "Quantity:" %>
<%= ingredients_form.text_field :quantity %><br>

<%= ingredients_form.fields_for :item, @recipe.ingredients.build.build_item do |item_form| %>
 <%= item_form.label "Item Name:" %>
  <%= item_form.text_field :name %><br>

<% end %>
<%end%>

<%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredients_form| %>
<%= ingredients_form.label "Quantity:" %>
<%= ingredients_form.text_field :quantity %><br>

<%= ingredients_form.fields_for :item, @recipe.ingredients.build.build_item do |item_form| %>
 <%= item_form.label "Item Name:" %>
  <%= item_form.text_field :name %><br>

<% end %>
<%end%>

<%= f.submit %><br>
<%end%>
