<h1>Recipes#new</h1>
<%= form_for @recipe do |f|%>

<%= render partial: 'errors', locals: {:object => @recipe} %>

<%= f.label "Title:" %>
<%= f.text_field :name %>
<p><%= f.label "Content:" %></p>
<%= f.text_area :content %><br>
<%= f.hidden_field :user_id, value: @user.id %>


<br>
<%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredients_form| %>

<%= ingredients_form.fields_for :item, @recipe.ingredients.build.build_item do |item_form| %>
<%= item_form.label "Item Name:" %>
<%= item_form.text_field :name %>
<%= ingredients_form.label "Quantity:" %>
<%= ingredients_form.text_field :quantity %>
<%= ingredients_form.label "Unit:" %>
<%= ingredients_form.text_field :unit %>
<br>

<%end%>
<%end%>

<div id="items">
<div id="0" class="item">
</div>
</div>

<button class="js-more" data-id="0" type="button">Add Item</button>
<button class="js-remove" type="button">Remove Item</button>

<p><%= f.submit %></p>
<%end%>

<%= render partial: 'itemFields' %>
