<h1><%= @recipe.name %></h1>

<h3>Instructions</h3>
<%= @recipe.content %>


<h3>Ingredients List</h3>
<% @recipe.ingredients.each do |i| %>
  Item: <%= i.item.name %> Quantity: <%= i.quantity%> <%= i.unit %><br>
<%end%>

<%if @recipe.user_id == current_user.id%>
<p><%=link_to "Add Ingredients", new_recipe_ingredient_path(@recipe) %>
<p><%=link_to "Edit Recipe", edit_recipe_path(@recipe) %>
<p><%=link_to "Delete Recipe", recipe_path(@recipe), :method => :delete %>
<%end%>
