<h1 class = "name"><%= @recipe.name %></h1>

<h3>Content</h3>
<div class = "content"> <%= @recipe.content %> </div>

<h3>Ingredients List</h3>
<div class = "ingredients">

<% @recipe.ingredients.each do |i| %>
  Item: <%= i.item.name %> Quantity: <%= i.quantity%> <%= i.unit %><br>
<%end%>
</div>

<h3>Comments</h3>
<div class = "comments">
<% @recipe.comments.each do |c| %>
  <p><%= c.content %> ~by <strong><%= User.find(c.user_id).email %></strong> <br>

    <%if c.user_id == current_user.id %>
     <%=link_to "Edit Comment", edit_recipe_comment_path(@recipe, c) %><br>
     <%=link_to "Delete Comment", recipe_comment_path(@recipe, c), :method => :delete %>
    <%end%>
  </p>
<%end%>
</div>

<p class = "commentLink"><%=link_to "Add Comment", new_recipe_comment_path(@recipe) %></p>

<%if @recipe.user_id == current_user.id%>
  <p><%=link_to "Edit Recipe", edit_recipe_path(@recipe) %>
  <p><%=link_to "Delete Recipe", recipe_path(@recipe), :method => :delete %>
<%end%>

<p><button class= "js-next" data-id="<%=@recipe.id%>" type="button">Next Recipe</button></p>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function() {
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/recipes/" + nextId + ".json", function(data) {
        var recipe = data["recipe"]
        $(".name").text(recipe["name"]);
        $(".content").text(recipe["content"]);
        $(".ingredients").text("");
        $(".comments").text("");
        var recipeId = recipe["id"]
        $(".commentLink").html(`<a href="/recipes/${recipeId}/comments/new">Add comment</a>`)

        recipe["ingredients"].forEach(function(i) {
          var ingredientsText = "Item: " + i["item"]["name"] + " Quantity: " + i["quantity"] + " " + i["unit"] + "<br>"
          $(".ingredients").append(ingredientsText);
        })

        recipe["comments"].forEach(function(c) {
          var commentText = "<p>"
          commentText += c.content
          commentText += "~by <strong>" + c.user.email + "</strong> <br>"
          commentText += "</p>"
          $(".comments").append(commentText);
        })

        $(".js-next").attr("data-id", recipe["id"]);
      });
    });
  });
</script>
