<h1><%= @recipe.name %></h1>

<h3>Instructions</h3>
<%= @recipe.content %>

<h3>Ingredients List</h3>
<% @recipe.ingredients.each do |i| %>
  Item: <%= i.item.name %> Quantity: <%= i.quantity%> <%= i.unit %><br>
<%end%>

<h3>Comments</h3>
<% @recipe.comments.each do |c| %>
  <p><%= c.content %> ~by <strong><%= User.find(c.user_id).email %></strong> <br>

    <%if c.user_id == current_user.id %>
     <%=link_to "Edit Comment", edit_recipe_comment_path(c) %><br>
     <%=link_to "Delete Comment", recipe_comment_path(@recipe, c), :method => :delete %>
    <%end%>
  </p>
<%end%>

<p><%=link_to "Add Comments", new_recipe_comment_path(@recipe) %></p>

<%if @recipe.user_id == current_user.id%>
  <p><%=link_to "Edit Recipe", edit_recipe_path(@recipe) %>
  <p><%=link_to "Delete Recipe", recipe_path(@recipe), :method => :delete %>
<%end%>
