<h1><%= @recipe.name %></h1>

<%= form_for @recipe.ingredients.build, url: recipe_ingredients_path do |f| %>

<% if @ingredient.errors.any? %>
<div class="error_explanation">
  <h2><%= pluralize(@ingredient.errors.count, "error") %> prevented this record from being saved:</h2>
  <ul>
  <% @ingredient.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :recipe_id, value: @recipe.id %>

<%= f.fields_for :item, @recipe.ingredients.build.build_item do |item_form| %>
<p>
 <%= item_form.label "Item:" %>
  <%= item_form.text_field :name %>
  <%= f.label "Quantity:" %>
  <%= f.text_field :quantity %>
  <%= f.label "Unit:" %>
  <%= f.text_field :unit %><br>
</p>

<p>
 <%= item_form.label "Item:" %>
  <%= item_form.text_field :name[] %>
  <%= f.label "Quantity:" %>
  <%= f.text_field :quantity[] %>
  <%= f.label "Unit:" %>
  <%= f.text_field :unit[] %><br>
</p>

<% end %>

<div id="items">

</div>

<button class="js-addItem" data-id="0" type="button">Add Item</button>
<a href="#" class="js-remove">Remove Item</a>

<p><%= f.submit %></p>
<%end%>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-remove").on("click", function() {
    var item = document.getElementById("items");
      item.removeChild(item.lastChild);
  });
});
</script>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-addItem").on("click", function() {

      var id = parseInt($(".js-addItem").attr("data-id")) + 1;
      var inputName = document.createElement("input");
      inputName.name = `recipe[ingredients_attributes][${id}][item_attributes][name]`;
      inputName.type = "text";
      inputName.id = `recipe_ingredients_attributes_${id}_item_attributes_name`;

      var inputQuantity = document.createElement("input");
      inputQuantity.name = `recipe[ingredients_attributes][${id}][quantity]`;
      inputQuantity.type = "text";
      inputQuantity.id = `recipe_ingredients_attributes_${id}_quantity`;

      var inputUnit = document.createElement("input");
      inputUnit.name = `recipe[ingredients_attributes][${id}][unit]`;
      inputUnit.type = "text";
      inputUnit.id = `recipe_ingredients_attributes_${id}_unit`;

      var itemDiv = document.createElement("div");
      itemDiv.id = id;
      $('#items').append(itemDiv);
      $(`div #${id}`).append("Item Name:", inputName, "Quantity:", inputQuantity, "Unit:", inputUnit);
      $(".js-addItem").attr("data-id", id);
    });
  });
</script>
